<% layout('layouts/boilerplate') %>

<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input id="title" type="text" name="campground[title]" value="<%= campground.title %>">
    </div>
    <div>
        <label for="location'">Location</label>
        <input id="location" type="text" name="campground[location]" value="<%= campground.location %>">
    </div>
    <button>Edit Campground</button>
</form>
