<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Review</h1>
    <div class="col-6 offset-3">
        <form action="/reviews" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="body">Body</label>
                <input class="form-control" id="body" type="text" name="review[body]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="rating'">Rating</label>
                <input class="form-control" id="rating" type="number" name="review[rating]" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Review</button>
            </div>
        </form>
    </div>
</div>
